{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">{% translate "Your Dashboard" %}</h5>
            </div>
            <div class="card-body">
                <p>
                    {% translate "The quick brown fox jumps over the lazy dog." %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}