{% load static %}
<nav class="navbar navbar-expand-lg fixed-top nav-light sticky" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'assets/images/logo-dark.png' %}" class="card-logo card-logo-light" alt="logo dark" height="24">
            <img src="{% static 'assets/images/logo-light.png' %}" class="card-logo card-logo-dark" alt="logo light" height="24">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#plans">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        
                        <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                            <button type="submit" class="nav-link text-danger">Logout</button>
                        </form>

                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-info" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}


            </ul>
        </div><!-- end collapse -->
    </div><!-- end container -->
</nav><!-- end navbar -->