{% load i18n %}
{% load static %}
<div class="app-sidebar-menu">
    <div class="h-100" data-simplebar>

        <div id="sidebar-menu">

            <div class="logo-box">
                <a href="{% url 'index' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="24">
                    </span>
                </a>
                <a href="{% url 'index' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="24">
                    </span>
                </a>
            </div>

            <ul id="side-menu">

                <li class="menu-title">{% translate "Menu" %}</li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        <i data-feather="home"></i>
                        <span>{% translate "Dashboard" %}</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'company-list' %}">
                        <i data-feather="globe"></i>
                        <span>{% translate "Company" %}</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'pricing' %}">
                        <i data-feather="file-text"></i>
                        <span>{% translate "Pricing" %}</span>
                    </a>
                </li>

            </ul>

        </div>

        <div class="clearfix"></div>

    </div>
</div>