{% load static %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="text-center header-section mb-5">
            <span class="text-uppercase fw-semibold text-primary">{{section_testimonials.name_text}}</span>
            <h1 class="title-heading fw-semibold text-dark mb-3 mt-2">{{section_testimonials.header|safe}}</h1>
            <p class="text-muted fs-14 mb-0">{{section_testimonials.description|safe}}</p>

        </div>
    </div>
</div>

<div class="row align-items-center g-3">
    <div class="col-12">
        <div class="swiper testi-swiper rounded-3 px-1">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                    {% include "partials/testimonials_list.html" with testimonial=testimonial %}
                {% endfor %}                
            </div>
        </div>

        <div class="g-3 position-relative d-flex justify-content-center align-content-center g-3 mt-4">
            <div class="next-prev testi-button-prev me-2">
                <i class="mdi mdi-chevron-left fs-20"></i>
            </div>
            <div class="next-prev testi-button-next">
                <i class="mdi mdi-chevron-right fs-20"></i>
            </div>
        </div>

    </div>
</div>