{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="{% static 'assets/images/users/user-11.jpg' %}" class="rounded-2 avatar-xxl" alt="image profile">

                        <div class="overflow-hidden ms-4">
                            <div>
                                <h4 class="m-0 text-dark fs-20">{{user.username}}</h4>
                                <p class="my-1 text-muted fs-16">
                                    {% if active_profile %}
                                        Company: 
                                        {% if active_profile.company.name %}
                                            {{ active_profile.company.name }}
                                        {% else %}
                                            (Personal) Default
                                        {% endif %}
                                        <br>
                                        Language: {{ active_profile.language }}
                                    {% else %}
                                        No active profile
                                    {% endif %}
                                </p>
                            </div>
                            <div>
                                <a href="{% url 'profile-update' %}" type="button" class="btn btn-primary">Edit Profile</a>
                                <a href="{% url 'password_change' %}" type="button" class="btn btn-primary">Edit Password</a>
                                <a href="{% url 'userprofile-update' %}" type="button" class="btn btn-secondary">Edit Company Profile</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

{% endblock %}